#!/bin/bash

# Protocol to use (http or https)
PROTO="https"

# Hostname(+port)
HOST="wiki.varnish-software.com"

# API-url, with trailing ?
#
# Example (works for wiki.varnish-software.com):
API="mediawiki/api.php?"

# Example (works for wiki.redpill-linpro.com):
# API="api.php?"

USER="kristian"

# Feel free to replace this with something smarter
echo password:
read -s PASSWORD

# Like:
# PASSWORD=password
# or: 
# PASSWORD=$(gpg --decrypt ~/Documents/Passwords/wikipw)
# ... you get the point. It's a shell script.
